:root{
	--top-vertical:0px;
	--left-horizontal:32px;
	--dimensiones-grupo:70px;
}

h1{
	text-align: center;
}

#jugadoresContainer {
  display: flex;
	justify-content: center;
	user-select: none;
}

.jugadorContainer {
	width: 40vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: aqua;
	border-radius: 20px;
	margin: 10px;
}

img{
	height: var(--dimensiones-grupo)
}

.cuenta{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.grupo{
	position: relative;
	height: var(--dimensiones-grupo);
	width: var(--dimensiones-grupo);
	margin: 10px;
}

.fosforo1{
	position: absolute;
	transform: rotate(90deg);
	left: var(--left-horizontal);
	top:-30px;
	left:var(--left-horizontal);
}

.fosforo2{
	position: absolute;
	left:  65px;
	transform: rotate(180deg);
	top: var(--top-vertical)
}

.fosforo3{
	position: absolute;
	transform: rotate(270deg);
	top: 32px;
	left:var(--left-horizontal);
}

.fosforo4{
	position: absolute;
	left: 0px;
	top: var(--top-vertical)
}

.fosforo5{
	position: absolute;
	transform: rotate(45deg);
	left:34px;
	top:0px
}